<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Front Page</a>
      <ul class="nav navbar-nav navbar-center">
        <li><img id="center" src="/src/resources/img/smorg.png" alt="Smorgasboard"></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a routerLink="about">About</a></li>
      <li><a class="text-muted" routerLink="admin">Admin</a></li>
    </ul>
  </div>
</footer>
