<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Front Page</a>
      <ul class="nav navbar-nav navbar-center" id="smorg">
        <li><img id="center" src="/src/resources/img/big.png" alt="Smorgasboard"></li>
        <li *ngIf="now.getMonth() == 11"><img id="wreath" src="/src/resources/img/wreath.jpg" alt="Smorgasboard"></li>
        <li *ngIf="now.getMonth() == 11"><img id="wreath-two" src="/src/resources/img/wreath.jpg" alt="Smorgasboard"></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li class="margin"><a routerLink="about">About</a></li>
      <li class="margin2"><a class="text-muted" routerLink="admin">Admin</a></li>
    </ul>
  </div>
</footer>
