<div class="container">
  <div *ngIf="currentRoute !== '/admin'">
    <div *ngFor="let article of articles | async | featured">
      <div class="featured-container">
        <img class="featured" src="{{article.data.image}}">
      </div>
        <p (click)="goToDetailPage(article)" class="headline">{{article.data.head}}</p>
        <p class="paragraph">{{article.data.summary}}</p>
    </div>

    <div class="image-four">
      <a href="https://www.youtube.com/watch?v=lJzS-_xKB8k"><img id="fisher" src="/src/resources/img/fisher.jpg" alt="fisher"></a>
      <img id="monkey" src="/src/resources/img/ad.png" alt="pet moonkey ad">
      <img id="cellophane" src="/src/resources/img/ad2.jpg" alt="cellophane">
    </div>
    <div class="advertisments">
      <img id="uni" src="/src/resources/img/uni.jpg" alt="unicycle">
    </div>
  </div>


<div id="article" *ngFor="let article of articles | async | sorting" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(article)"><em>{{article.data.head}}</em> by {{article.data.byline}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{article.data.description}}
      <hr>
      <app-edit-article [selectedArticle]="article"></app-edit-article>
      <button (click)="beginUpdatingArticle(article)">Update</button>
      <hr>
      <button (click)="beginDeletingArticle(article)">Delete</button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
