.container {
  width: 80%;
}

#image {
  display: flex;
  flex-direction: row;
}

#image-two {
  display: flex;
  flex-direction: row;
}

#image-three {
  display: flex;
  flex-direction: row;
}

.fetus {
  margin-left: -130px;
  margin-bottom: 15px;
  width: 400px;
  height: 200px;
}

p{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 28px;
}

.headline {
  font-size: 28px;
  font-weight: 600;
  display: block;
}

.paragraph {
  display: block;
  font-size: 20px;
}

.image-four {
  display: flex;
  flex-direction: row;
}
