.container {
  max-width: 100%;
  /*margin-left: -25px;*/
}

.featured {
  /*display: flex;
  flex-direction: row;*/
}

#image-four {
  display: flex;
  justify-content: flex-end;
}

#fisher {
  align-self: flex-start;
  list-style: none;
  text-decoration: none;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 372px;
  height: 300px;

}

#monkey {
  margin-top: 15px;
  height: 300px;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 15px;
}

#cellophane {
  width: 370px;
  height: 300px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#uni {
  width: 1080px;
  height: auto;
  margin-bottom: 30px;
  margin-top: 15px;
}

.featured {

  height: 33%;
  display: flex;
  flex-direction: column;
}



#featured-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.featured-image-container {
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.featured-image {
  height: auto;
  width: 100%;
  max-width: inherit;
}

.featured-info {
  width: 100%;

}

p{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 28px;
}

.headline {
  font-size: 28px;
  font-weight: 600;
  display: block;
}

.paragraph {
  display: block;
  font-size: 20px;
}

.image-four {
  display: flex;
  flex-direction: row;
}
.input {
  display: flex;
  justify-content: flex-start;
}

.drop {
  display: flex;
  flex-direction: row;
}

#search {
  margin-left: 20vw;
  width: 300px;
  height: 30px;
  border: 3px solid black;
  color: black;
  margin-left: -150px;
  padding: 0;
  margin-bottom: 50px;
  font-weight: 900;
  border-radius: 5px;
}

select {
  width: 200px;
  height: 30px;
  border: 3px solid black;
  font-weight: 600;
}

 input::placeholder {
   color: black;
   text-align: left;
 }

#article {
  border: 3px solid black;
}

a:hover {
  border-bottom: 30px solid #71EEB8;
}

.featured-image-container:hover {
  border: 10px solid red;
}

#article:hover {
  border: 5px solid red;
}
