

#img{
  display: flex;
  flex-direction: column;
}

.feature1 {
  height: 20%;
  width: 40%;
  margin: 5px;
}

.paragraphs {
  display: flex;
  flex-direction: column;
}
#paragraph-one {
align-content: flex-start;
}
