<div class="container">
  <div *ngIf="currentRoute !== '/admin'">
    <div class="row" id="featured-row">
      <div class="featured col-md-4" *ngFor="let article of articles | async | featured">
        <div class="featured-image-container">
          <img class="featured-image" src="{{article.data.image}}">
        </div>
        <div class="featured-info">
          <p (click)="goToDetailPage(article)" class="headline">{{article.data.head}}</p>
          <p class="paragraph">{{article.data.summary}}</p>
        </div>
      </div>
    </div>

    <div class="image-four">
      <a href="https://www.youtube.com/watch?v=lJzS-_xKB8k"><img id="fisher" src="/src/resources/img/fisher.jpg" alt="fisher"></a>
      <a href="https://www.youtube.com/watch?v=tVkZNhqsxpk"><img id="monkey" src="/src/resources/img/ad.png" alt="pet moonkey ad"></a>
      <a href="https://www.youtube.com/watch?v=GPgzXHgmSMA"><img id="cellophane" src="/src/resources/img/ad2.jpg" alt="cellophane"></a>
    </div>
    <div class="advertisments">
      <img id="uni" src="/src/resources/img/uni.jpg" alt="unicycle">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <span class="custom-dropdown big">
        <select (change)="setSorter($event.target.value)">
          <option *ngFor = "let sorter of sortingMethods; let i = index" value = {{i}}>{{sorter.name}}</option>
        </select>
      </span>
    </div>
    <div class="col-md-6">
      <input id="search" type="text" placeholder="search" [(ngModel)]="searchString">
    </div>
  </div>

  <div id="article" *ngFor="let article of articles | async | sorting:sorterId | search:searchString" class="panel panel-primary">
    <div class="panel-body">
      <h3 (click)="goToDetailPage(article)"><em>{{article.data.head}}</em> by {{article.data.byline}}</h3>
      <hr>
      <!-- <h6>{{Article.getTimeStamp(article)}}</h6> -->
      <div *ngIf="currentRoute === '/admin'">
        {{article.data.description}}
        <hr>
        <app-edit-article [selectedArticle]="article"></app-edit-article>
        <button (click)="beginUpdatingArticle(article)">Update</button>
        <hr>
        <button (click)="beginDeletingArticle(article)">Delete</button>
      </div>

    </div>
  </div>
</div>



<br>
<br>
<br>
<br>
