<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Article to Inventory</h3>
  </div>
  <div class="panel-body">
    <h2>Add Article</h2>
    <div>
      <div *ngFor="let key of dataKeys" class="form-group">
        <p>{{dataTypes[key].input}}:</p>
        <div [ngSwitch]="dataTypes[key].type">
          <input *ngSwitchCase="'string'" class="form-control" [(ngModel)]="newData[key]">
          <textarea *ngSwitchCase="'textarea'" class="form-control" [(ngModel)]="newData[key]"></textarea>
          <input type="checkbox" *ngSwitchCase="'bool'" [checked]="newData[key]" (change)="newData[key] = !newData[key]">
        </div>
      </div>
      <button (click)="submitForm()">Confirm</button>
    </div>
  </div>
</div>

<div>
  <app-frontpage></app-frontpage>
</div>
